<div>
    <h2>
        <span jhiTranslate="pagolineaApp.plParamEnvio.home.title">Pl Param Envios</span>
        <button class="btn btn-primary float-right jh-create-entity create-pl-param-envio" [routerLink]="['/', { outlets: { popup: ['pl-param-envio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="pagolineaApp.plParamEnvio.home.createLabel">
            Create new Pl Param Envio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="plParamEnvios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagolineaApp.plParamEnvio.valor">Valor</span></th>
            <th><span jhiTranslate="pagolineaApp.plParamEnvio.intentopago">Intentopago</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plParamEnvio of plParamEnvios ;trackBy: trackId">
                <td><a [routerLink]="['../pl-param-envio', plParamEnvio.id ]">{{plParamEnvio.id}}</a></td>
                <td>{{plParamEnvio.valor}}</td>
                <td>
                    <div *ngIf="plParamEnvio.intentopago">
                        <a [routerLink]="['../pl-intento-pago', plParamEnvio.intentopago?.id ]" >{{plParamEnvio.intentopago?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pl-param-envio', plParamEnvio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pl-param-envio/'+ plParamEnvio.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pl-param-envio/'+ plParamEnvio.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
