
<div *ngIf="plParamEnvio">
    <h2><span jhiTranslate="pagolineaApp.plParamEnvio.detail.title">Pl Param Envio</span> {{plParamEnvio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pagolineaApp.plParamEnvio.valor">Valor</span></dt>
        <dd>
            <span>{{plParamEnvio.valor}}</span>
        </dd>
        <dt><span jhiTranslate="pagolineaApp.plParamEnvio.plParamBanco">Pl Param Banco</span></dt>
        <dd>
            <div *ngIf="plParamEnvio.plParamBanco">
                <a [routerLink]="['/pl-param-banco', plParamEnvio.plParamBanco?.id]">{{plParamEnvio.plParamBanco?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="pagolineaApp.plParamEnvio.intentopago">Intentopago</span></dt>
        <dd>
            <div *ngIf="plParamEnvio.intentopago">
                <a [routerLink]="['/pl-intento-pago', plParamEnvio.intentopago?.id]">{{plParamEnvio.intentopago?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pl-param-envio/'+ plParamEnvio.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
