
<div *ngIf="plCarro">
    <h2><span jhiTranslate="pagolineaApp.plCarro.detail.title">Pl Carro</span> {{plCarro.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pagolineaApp.plCarro.idUsuario">Id Usuario</span></dt>
        <dd>
            <span>{{plCarro.idUsuario}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pl-carro/'+ plCarro.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
