
<div *ngIf="plCarroDetHist">
    <h2><span jhiTranslate="pagolineaApp.plCarroDetHist.detail.title">Pl Carro Det Hist</span> {{plCarroDetHist.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pagolineaApp.plCarroDetHist.concepto">Concepto</span></dt>
        <dd>
            <span>{{plCarroDetHist.concepto}}</span>
        </dd>
        <dt><span jhiTranslate="pagolineaApp.plCarroDetHist.idLiquidacion">Id Liquidacion</span></dt>
        <dd>
            <span>{{plCarroDetHist.idLiquidacion}}</span>
        </dd>
        <dt><span jhiTranslate="pagolineaApp.plCarroDetHist.fechaVigencia">Fecha Vigencia</span></dt>
        <dd>
            <span>{{plCarroDetHist.fechaVigencia | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pagolineaApp.plCarroDetHist.importe">Importe</span></dt>
        <dd>
            <span>{{plCarroDetHist.importe}}</span>
        </dd>
        <dt><span jhiTranslate="pagolineaApp.plCarroDetHist.llave">Llave</span></dt>
        <dd>
            <span>{{plCarroDetHist.llave}}</span>
        </dd>
        <dt><span jhiTranslate="pagolineaApp.plCarroDetHist.generoUs">Genero Us</span></dt>
        <dd>
            <span>{{plCarroDetHist.generoUs}}</span>
        </dd>
        <dt><span jhiTranslate="pagolineaApp.plCarroDetHist.carro">Carro</span></dt>
        <dd>
            <div *ngIf="plCarroDetHist.carro">
                <a [routerLink]="['/pl-carro-hist', plCarroDetHist.carro?.id]">{{plCarroDetHist.carro?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pl-carro-det-hist/'+ plCarroDetHist.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
